$color-green: #A2E352;
$color-blue: #285769;
$color-gray: #3D3E40;
$color-lightgray:#ACB6BA;
$color-white: #F6F6FF;

$navbar-inverse-brand-color: white;
$navbar-inverse-link-color: white;
$navbar-inverse-link-active-bg: none;
$navbar-inverse-link-active-color: $color-green;
$navbar-inverse-bg: $color-gray;
