@import "_colors.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/*
  Styles for centering the vcard inside the full height section
*/
.Center-Container.is-Inline {
  text-align: center;
  overflow: auto;
	height: 100%;
}

.Center-Container.is-Inline:after,
.is-Inline .Center-Block {
  display: inline-block;
  vertical-align: middle;
}

.Center-Container.is-Inline:after {
  content: '';
  height: 100%;
  margin-left: -0.25em; /* To offset spacing. May vary by font */
}

.is-Inline .Center-Block {
	float: none !important;
  max-width: 99%; /* Prevents issues with long content causes the content block to be pushed to the top */
  /* max-width: calc(100% - 0.25em) /* Only for IE9+ */
}

.full-height {
	height: 100%;
}

#home {
  .icon {
    font-size: 4em;
  }

	padding: 0px;

  // Fill the entire first page
  height: 100%;
  width: 100%;
  display: table;
  overflow: hidden;
  .container-fluid {
    margin: 0px;
    padding: 0px;
  }

  /* Parallax Image */
  background-image: url('/images/dccafe.jpg');
  background-attachment: fixed;
  background-position: 50% 0;

  // ALign the heading
	h1 {
		margin-top: -6px;
    margin-bottom: 7px;
	}

  // Style the card
  .desc {
    color: white;

    .jumbotron {
      background-color: rgba($color-gray, 0.5);
      margin-bottom: 0px;
			min-width: 80%; /* Makes it span wider to look nice on mobile */

      /* Make it fit onto smaller mobile devices by adjusting sizes */
			@media screen and (max-width: $screen-sm-max) {
				padding-top: 0px;
				padding-bottom: 0px;

        h1 {
          font-size: 3em;
        }
			}
    }

    .lead {
      margin-bottom: 0px;
    }

    ul {
      margin-top: 1em;
      a {
        font-size: $font-size-h3;
        color: white;
        border-bottom: 2px solid;
        border-color: $color-lightgray;
        transition: border-color 0.2s ease-out;
        margin: 1em;
      }

      a:hover {
        border-color: $color-green;
      }
    }
  }
}
