@import "_colors.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// Align the subheading nicely inline
.menu-heading {
  position: relative;
  small {
    position: absolute;
    line-height: 1em;
  }
}

// Higlight GF option
.gluten-free {
  color: darken($color-green, 20%);
}

// Style and align the menu
ul.menu-list {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;

  // Spacing between elements but not after the last
  li:not(:last-child) {
    margin-bottom: 1em;
  }

  // Style the individual list elements
  li {
    text-transform: uppercase;
    text-align: left;
    padding-right: 1em;
    position: relative; // Set parent for .price so position:absolute works

    // Menu item text
    h4 {
      font-family: $font-family-sans-serif !important;
      text-align: left;
      margin-bottom: 0.2em;
    }

    // Subtitle under the menu items
    small {
      color: $color-gray;
      display: block;
      text-transform: none;
      font-weight: lighter;
      padding-right: 3em;
    }

    // Position price to the very right
    .price {
      position: absolute;
      right: 0px;
      display: block;
      top: 0px;
    }
  }
}

// Adjust the titles for each menu group (e.g. coffes, pastries)
.panel-menu {
  h4.panel-title {
    font-family: $font-family-sans-serif;
    color: $color-blue;
    font-size: $font-size-h2;
    font-weight: bolder;
  }

  // Style the food blockquote
  blockquote {
    font-size: 1.5em;
    font-weight: 100;
    color: $color-gray;
    font-style: italic;
  }
}
